.textEditorContainer {
    padding: 10px 20px;
}

.textEditorTop {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.textEditorTopLeft {
    display: flex;
    gap: 1rem;
    align-items: center;
}

.textEditorContainer h3 {
    margin: 0;
    font-size: 16px;
}

.editorTopRightBtn {
    display: flex;
    gap: 1rem;
}

.editorTopRightBtn button{
    padding: 5px 30px;
    border-radius: 5px;
    font-size: 16px;
    font-weight: 400;
}

.save {
    border: 2px solid #088586;
    background: none;
    color: #088586;
}

.done{
    border: none;
    background-color: #088586;
    color: white;
}


/* ================== IMG and Text Editor =================== */

.image-and-textEditor {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap:1rem;
    margin-top: 2rem;
}

.textEditorleftImg {
  display: grid;
  grid-template-columns: 20% 80%;
  gap: 1rem;
  margin-top: 1rem;
}


.leftEditorTop {
    border: 1px solid #088586;
    width: 100%;
}

.leftEditorTop div{
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
}

.leftEditorTop div h4{
    font-size: 16px;
}
.edtiorTotalPage {
    background-color: #088586;
}

.edtiorTotalPage h4 {
    color: white;
}

.editorPages .front{
    background-color: #FFF4E0;
    padding: 5px 5px;
}

.editorPages .front2 {
    background-color: #E9FFDF;
    padding: 5px 5px;
}



.textEditorLeftFilter {
    display: flex;
    border: 1px solid rgba(0, 0, 0, 0.14);
    padding: 10px 10px;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    margin-top: 1rem;
    border-radius: 5px;
}

  

.textEditorLeftFilter h4 {
    font-size: 16px;
    margin-bottom: 0;
}

.textEditorLeftFilter i {
    font-size: 16px;
}

.textEditorLeftPageListing {
    /* margin-top: 1rem; */
    display: flex;
    gap: 1rem;
    /* display: grid; */
}



.imgListing{
    display: flex;
    align-items: center;
    background-color: #E9FFDF;
    flex-direction: column;
    width: 100%;
    padding: 7px 0px;
    justify-content: center;
}

.imgListing h4 {
    font-size: 12px;
}


.scrollWrapper {
  overflow-x: auto;
  width: 100%;
}


/* ========================= MIDDLE ============================== */

.textEditorImgMiddle{
    /* padding: 10px 10px; */
    /* background-color: #E9FFDF; */
    display: flex;
    flex-direction: column;
    margin-top: 2px;
    align-items: center;
}

.middleTextEditorImg {
    width: 100%;
    background-color: rgba(0, 0, 0, 0.196);
    padding: 29px;
}

.middleTextEditorImg img {
    width: 100%;
}

.middleTextPageNO {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    /* margin-top: 32px; */
    margin-bottom: 2rem;
    background-color: rgba(0, 0, 0, 0.196);
    width: 100%;
    padding: 10px;
}

.middleTextPageNO h4 {
    margin: 0;
    font-size: 12px;
}

/* ==================== RIGHT ========================= */

.editorContainer {
  padding: 10px 20px;
  width: 100%;
  font-family: sans-serif;

}
  

.editorContainer h4 {
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 2rem;
}

  
  .editorImageUpload {
    border: 1px dashed #ccc;
    padding: 1rem;
    text-align: center;
    margin-top: 1rem;
    border-radius: 6px;
  }
  
  .editorImageUpload .browse {
    color: #007bff;
    cursor: pointer;
  }
  
  .formats {
    font-size: 12px;
    color: #999;
    margin-top: 4px;
  }
  
  
.textEditorBtn {
    width: 100%;
    padding: 10px;
}  

.textEditorBtn button {
    width: 100%;
    background-color: #00796b;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
}